html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #222;
}

header {
  background: #494545;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
}

.logo {
  color: white;
  font-size: 26px;
}

nav {
  display: flex;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: orange;
}

.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.about {
  padding: 70px 50px;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.about-img img {
  width: 220px;
  border-radius: 50%;
  border: 5px solid orange;
}

.about-text {
  max-width: 500px;
  text-align: left;
}

.projects {
  padding: 70px 50px;
  text-align: center;
  background: white;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.project-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: orange;
  font-weight: bold;
}

.contact {
  padding: 70px 50px;
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-form label {
  margin-top: 15px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 5px;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: orange;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background: black;
}

footer {
  background: #494545   ;
  color: white;
  padding: 25px;
  text-align: center;
}

.social-icons a img {
  color: white;
  margin: 0 10px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 50%;
}

@media (max-width: 768px) {

  nav {
    display: none;
    flex-direction: column;
    background: #111;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 15px;
  }

  nav a {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  #menu-toggle:checked ~ nav {
    display: flex;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}