html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f9f9f9;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #111;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: 600;
}

.logo span {
  color: #ff9800;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar nav a:hover {
  color: #ff9800;
}


.search-box {
  display: flex;
}

.search-box input {
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 6px 0 0 6px;
}

.search-box button {
  padding: 8px 12px;
  border: none;
  background: #ff9800;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  background: linear-gradient(to right, #ff9800, #ffcc80);
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  padding: 12px 30px;
  background: #111;
  color: white;
  text-decoration: none ;
  border-radius: 8px;
}

.btn:hover {
  background: white;
  color: black;
}

.hero-img img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

/* ===== Products Section ===== */
.products {
  padding: 70px 60px;
  text-align: center;
}

.products h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.product-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.product-card h3 {
  margin: 15px 0 5px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #ff9800;
}

.product-card button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #ff9800;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.product-card button:hover {
  background: #111;
}

/* Info Sections */
.info-section {
  padding: 80px 60px;
  text-align: center;
  background: white;
  margin-top: 30px;
}

.info-section h2 {
  font-size: 35px;
}

/* ===== Footer ===== */
footer {
  background: #111;
  color: white;
  padding: 40px 60px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content h3 {
  color: #ff9800;
}

footer p {
  margin: 8px 0;
}

copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}